* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}


a {
    text-decoration: none;
}

/* Стиль для блока ссылок по домашним заданиям */
.homework-link {
  width: 1200px;
  height: 100px;
  background-color: aquamarine;
  line-height: 50px;
  list-style: none;
  text-align: center;
  margin-bottom: 50px;
}

:root {
  /* colors */
  --c-yellow: #FF9900;
  --fc-gray: #173A56;
  --fc-braun: #2F281E;
  --fc-braun_text: #544837;
  --bc-blue: #BCD0E5;
  --fc-white: #FFFFFF;
}

h1 {
  color: var(--fc-braun);
  font-size: 44px;
  line-height: 54px;
}

h2 {
  color: var(--fc-braun);
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
}

h4 {
  color: var(--fc-braun);
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
}

h5 {
  color: var(--fc-braun);
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
}
body {
  color: var(--fc-braun_text);
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}

.wrapper {
  max-width: 1125px;
  margin: 0 auto;
  width: 100%;
}

/* Стили для Шапки */
.header {
  right: 0;
  left: 0;
  top: 0;
  margin-bottom: 30px;
}


.header-container {
  height: 80px;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.navigation {
  margin-right: 30px;
}

.navigation-list {
  list-style-type: none;
  display: flex;
}

.nav-item {
  padding: 5px;
  margin-right: 10px;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-links {
  font-size: 16px;
  padding: 5px;
  font-style: normal;
  color: var(--fc-braun);
}

.buttons {
  display: flex;
}

.button {
  height: 46px;
  width: 110px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.button:last-child {
  margin-right: 0;
}

.button-in {
  background-color: var(--fc-white);
  color: var(--fc-gray);
  border-color: var(--bc-blue) solid 1px;
}

.button-up {
  background-color: var(--c-yellow);
  color: var(--fc-white);
  border-color: var(--c-yellow);
} 


/* Стили для блока 2 DESIGNE */

.designe-wrapper {
  height: 495px;
  display: flex; 
  margin-bottom: 110px;
}

.designe-content {
  max-width: 520px;
  height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.designe-title {
  max-width: 520px;
}

.designe-text {
  max-width: 460px;
  color: var(--fc-braun_text);
  font-size: 18px;
  line-height: 28px;
}

.designe-media {
  display: flex;
  align-items: center;

}

.button-start {
  width: 175px;
  height: 55px;
  padding: 15px;
  margin-right: 45px;
  background-color: var(--c-yellow);
  color: var(--fc-white);
  border-color: var(--c-yellow);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}

.button-video {
  display: inline-block;
}

.button-watch {
  height: 32px;
  background-color: var(--fc-white);
  color: var(--c-yellow);
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-decoration: underline;
  position: relative;
  padding: 0 0 0 30px;
  border: transparent;
  cursor: pointer;
}

.button-watch::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  border: 15px solid transparent;
  border-left: 20px solid #FF9900;
  border-radius: 5px;
}

.designe-jamp {
  max-width: 605px;
  width: 100%;
  max-height: 495px;
  height: 100%;
}

/* Стили для блока 3 Feature */

.feature-wrapper {
  max-width: 1125px;
  width: 100%;
  margin: 0 auto;
  height: 540px;
  margin-bottom: 100px;
}
/* Шапка */
.header-feature {
  height: 110px;
  text-align: center;
  margin-bottom: 55px;
}
/* Блок с items */
.feature-card {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  margin-bottom: 50px;
}

.item-card {
  max-width: 240px;
  width: 100%;
  max-height: 210;
  height: auto;
  margin: 0 auto;
  flex-direction: column;
  justify-content: space-between;
}

.feature-icon {
  margin-bottom: 30px;
}

.item-feature-header {
  margin-bottom: 15px;
}

.item-feature-text {
  color: var(--fc-braun_text);
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}
 
.feature-button {
  display: flex;
  justify-content: space-around;
}

.feature-button-one {
  width: 175px;
  height: 55px;
  background-color: var(--c-yellow);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  color: var(--fc-white);
  line-height: 24px;
  cursor: pointer;
  border: none;
}

/* Стили для блока 4 Redman */

.redman-wrapper {
  height: 575px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
}

.redman-content {
  max-width: 490px;
  width: 100%;
  max-height: 530px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.redman-content-span {
  max-width: 486px;
  width: 100%;
  margin-bottom: 5px;
}

.redman-content-title {
  max-width: 486px;
  width: 100%;
  margin-bottom: 20px;
}

.redman-content-text {
  max-width: 486px;
  width: 100%;
  margin-bottom: 25px;
}

h5 {
  margin-bottom: 12px;
}

.redman-image {
  max-width: 520px;
  width: 100%;
  max-height: 575px;
  height: 100%;
}

/* Стиль блока 5 Blueman */

.blueman {
  height: 520px;
}

.blueman-content-text {
  max-width: 365px;
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.change {
  margin-right: 30px;
}

/* Стиль блока 6 Yelowman
Полностью от блока 4 */

/* Стиль для полоски */
.line {
  width: 1109px;
  height: 1px;
  left: 160px;
  top: 3452px;
  background: rgba(188, 208, 229, 0.5);
}

/* Стили для Footer */
/* смысл сделать два блока, и через флекс дать им позицию */
.footer {
  height: 300px;
  padding-top: 100px;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  margin-top: 0;
}
/* показалось, что так рационально будет */
.footer-global {
  margin-top: 50px;
  max-width: 750px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer-block {
  height: 140px;
  max-width: 150px;
  width: 100%;
}

.footer-list {
  list-style-type: none;
}

.footer-list-text {
  font-size: 16px;
  line-height: 35px;
  color: var(--fc-braun_text);
}

.footer-buttons {
  max-width: 325px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.button-footer {
  padding: 8px 16px;
  border-radius: 4px;
  border-color: var(--c-yellow);
  cursor: pointer;
}

.footer-input {
  height: 48px;
  max-width: 325px;
  width: 100%;
  background: var(--fc-white);
  border: 1px solid var(--bc-blue);
  border-radius: 4px;
}